<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="display-3">
        {% if user %}
            <p>Вы вошли под именем {{ user }}</p>
        {% endif %}

        <p>К прочтению предлагается {{ number }}
            {% if number == 1 %}
                пост
            {% elif 2 <= number <= 4 %}
                поста
            {% else %}
                постов
            {% endif %}
    </p>
</div>
<p class="alert-dark">Все права защищены @</p>
</body>
</html>
